{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

  <div class="row">
    <h2>What is Cursive Data</h2>
        <p>Cursive Data is a web service for turning real time data into evolving data visualisations. The visualisations can be embedded into a website, or they can be sent to an internet connected plotter that will draw the data as it arrives.
        </p>

    <h2>Where did the idea come from?</h2>
        <iframe width="640" height="360" src="http://www.youtube.com/embed/DS6PdULJhOE?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
        <p><a href="http://mattvenn.net">Matt Venn</a> was wondering how to make energy data more accessible for those not interested in graphs or tables of data. The aim became to create physical representation of the energy data. Among many ideas considered, a <a href="https://www.google.co.uk/search?q=%22v+plotter%22,+polargraph&safe=off&source=lnms&tbm=isch&sa=X&ei=laqtUZDtAoiNO7a8AQ&ved=0CAoQ_AUoAQ&biw=1066&bih=594">v plotter type robot</a> was chosen for simplicity and cost. A <a href="http://mattvenn.net/files/Polargraph_MattVenn.pdf">document further explaining the idea is available here.</a>
        </p>


    <h2>License</h2>
        <p>The site's software, the robot's software and hardware are available under an open source license.</p>

    <h2>Code & Software</h2>
        <p>
        <ul>
            <li><a href="https://github.com/mattvenn/polargraphenergymonitor">Site software</a></li>
            <li><a href="https://github.com/mattvenn/arduinosketchbook/tree/master/energyPlotter/leonardoTests">Robot software</a></li>
            <li><a href="https://github.com/mattvenn/eagle-circuit-designs/blob/master/energy%20plotter/polarplotter%20allegro%20v4.sch">Robot hardware</a></li>
       </ul> 
        </p>

    <h2>Support</h2>
    <p>
        There is currently no support given for use of the site or for building or using the robot. We have a <a href="https://groups.google.com/forum/?fromgroups=#!forum/polargraph-energy-robot">mailing list here.</a>.
    </p>

    <h2>People</h2>
    <p>Many people have helped us to get here! In no particular order:</p>
    <ul>
    <li><a href="http://stuartchilds.com/">Stuart Childs</a> - help with robot hardware</li>
    <li><a href="http://www.mo-seph.com/">Dave Murray-Rust</a> - software</li>
    <li><a href="https://twitter.com/gnublade">Andy Kilner</a> - software</li>
    <li><a href="http://craftythingsmade.wordpress.com/">Fee Schmidt-Soltau</a> - user experience, design</li>
    <li><a href="http://www.carbonvisuals.com/about">Adam Nieman</a> - visualisations</li>
    <li><a href="http://bristolgreencapital.org/">Bristol Green Capital</a> - funding</li>
    </ul>
    

  </div>

{% endblock %}
