{% extends "base.html" %}
{% block title %}Endpoint {{endpoint.name }}{% endblock %}
{% block content %}
{% if endpoint %}
  <div class="row">
    <h2>Robot page</h2>
    <h4 class="subheader">{{endpoint.name}} @ {{endpoint.location}}</p>
  </div>

        <div class="row">
          <div class="large-12 columns">
			<div class="description"> {{endpoint.description}} </div>
			<div class="objectInfo">
				Device: {{endpoint.device}}<br/>
				Size: {{endpoint.width}} by {{endpoint.height}}<br/>
				Side margin: {{endpoint.side_margin}}<br/>
				Top margin: {{endpoint.top_margin}}<br/>
				Status: {{endpoint.status}}<br/>
				Latest Data: <a href="/polargraph/endpoint_data/{{endpoint.id}}/">latest data</a><br/>
				Files left to serve: {{files_left}}<br/> 
			</div>
			</div>
		</div>
		
  {% if user.is_authenticated %}
  <div class="row">
    <h2>Controls</h2>
  </div>

        <div class="row">
          <div class="large-12 columns">
				<form action="{% url polargraph:show_endpoint endpoint.id %}" enctype="multipart/form-data" method="POST">
					{% csrf_token %}
                    <div>
						<input class="button" type="submit" value="Calibrate" name="action"/>
						<input class="button" type="submit" value="Move Area" name="action"/>
						<input class="button" type="submit" value="Reset" name="action"/>
	                    {% if endpoint.paused %}
						<input class="button" type="submit" value="Resume" name="action"/>
	                    {% else %}
						<input class="button" type="submit" value="Pause" name="action"/>
	                    {% endif %}
                    </div>
                    <div>
                        <input type="file" name="svgfile"/>
                        Width: <input type="text" name="width"/>
                        <input class="button" type="submit" name="action" value="Upload SVG"/>
                    </div>
				</form>
            </div>
        </div>
	
    {% endif %}

    <div class="row">
    <h2>Latest Visualisations</h2>
  </div>
  <div class="row">
    <ul class="block-grid three-up">
            <li>
			<div class="outputContainer">
                <a href="/{{endpoint.full_svg_file}}">
                <img src="/{% if endpoint.full_svg_file %}{{endpoint.full_svg_file}}{% else %}media/resources/nothing_drawn.svg{% endif %}"/></a>
				{{output.modified}}
			</div>
		{% for output in endpoint.get_recent_output %}
            </li>
            <li>
			<div class="outputContainer">
				<img src="/{{output.filename}}" /><br/>
				{{output.modified}}
			</div>
          </li>
		{% endfor %}
    </ul>
</div>
	
{% else %}
    <h1>Endpoint not found</h1>
{% endif %}
{% endblock %}
