<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" />
</head>
<body>
{% if endpoint_list %}
<div class="bigList">
	<div class="bigListTitle">Endpoints</div>
    {% for endpoint in endpoint_list %}
    	<div class="bigListItem">
    		<div class="bigListInfo">
				<div class="objectTitle"><a href="{% url polargraph:show_endpoint endpoint.id %}">{{ endpoint.name }}</a></div>
				<div class="description">Location: {{endpoint.location}}</div>
				<div class="objectInfo">Last Update: ({{endpoint.last_updated}})</div>
    		</div>
    		<div class="bigListPic">
				<img class="medPic" src="/{{endpoint.full_svg_file}}"/>
			</div>
			<div class="bigListSublist">
				<div class="bigListSublistTitle">Previous Output</div>
				{% for output in endpoint.get_recent_output %}
					<div class="outputContainer">
						<img src="/{{output.filename}}" class="smallPic"/><br/>
						{{output.modified}}
					</div>
				{% endfor %}
			</div>	
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>No endpoints are available.</h1>
{% endif %}
</body>