{% extends "base.html" %}
{% block title %}All endpoints{% endblock %}
{% block content %}


{% if endpoint_list %}

    {% for endpoint in endpoint_list %}
  <div class="row">
    <h2><a href="{% url polargraph:show_endpoint endpoint.id %}">{{ endpoint.name }}</a></h2>
        {% if endpoint.is_live %}
            <div class="online"><img src="{{MEDIA_URL}}online.jpg"></div>
        {% else %}
            <div class="offline"><img src="{{MEDIA_URL}}offline.jpg"></div>
        {% endif %}
        <h4 class="subheader">
        <div class="objectInfo">Visual updated {{endpoint.last_updated}}, {{endpoint.location}}</div>
        <div class="objectInfo">Status updated {{endpoint.status_updated}}</div>
        </h4>
  </div>

  <div class="row">
    <ul class="block-grid three-up">
            <li>
			<div class="outputContainer">
                <img src="/{% if endpoint.full_svg_file %}{{endpoint.full_svg_file}}{% else %}media/resources/nothing_drawn.svg{% endif %}"/>
				{{output.modified}}
			</div>
		{% for output in endpoint.get_recent_output %}
            </li>
            <li>
			<div class="outputContainer">
				<img src="/{{output.filename}}" /><br/>
				{{output.modified}}
			</div>
          </li>
		{% endfor %}
    </ul>
    </div>
    {% endfor %}

{% else %}
  <div class="row">
    <h2>No robots found</h2>
    </div>
{% endif %}
        <div class="row"> <h4 class="subheader"> <div class="description"><a href="{% url polargraph:create_endpoint %}">Create a new endpoint</a></div> </h4> </div>
{% endblock %}
