{% extends "base.html" %}
{% block title %}All generators{% endblock %}
{% block content %}

  <div class="row">
  <h2>Pattern generators</h2>
  </div>
{% if generator_list %}

    {% for generator in generator_list %}
    <div class="row">
        <h2><a href="{% url polargraph:show_generator generator.id %}">{{ generator.name }}</a></h2>
				<div class="description"> {{generator.description}} </div>
    </div>

    <div class="row">
    <ul class="block-grid three-up">
				{% for output in generator.get_recent_output %}
                <li>
						<img src="/{{output.filename}}" />
						{{output.modified}}
                        <div class="objectInfo"> Last Used: {{generator.last_used}} </div>
                        <div class="objectInfo"> Last Changed: {{generator.last_updated}} </div>
                </li>
				{% endfor %}
                </ul>
    </div>
    {% endfor %}

{% else %}
    <div class="row">
    <h1>No generators are available.</h1>
    </div>
{% endif %}
        <div class="row"> <h4 class="subheader"> <div class="description"><a href="{% url polargraph:create_generator %}">Create a new generator</a></div> </h4> </div>
{% endblock %}
