{% extends "base.html" %}
{% block title %}Create a generator{% endblock %}
{% block content %}

  <div class="row">
    <h2>Create a new generator</h2>
  </div>
  <div class="row">
		<div class="formBlock">
			<form action="{% url polargraph:create_generator %}" method="POST">
				{% csrf_token %}
				<p>{{create.source_id.label}}<br/>{{ create.source_id }} </p>
				<p>{{create.name.label}}<br/>{{ create.name }} </p>
				<p>{{create.module_name.label}}<br/>{{ create.module_name }} </p>
				<p>{{create.description.label}}<br/>{{ create.description }} </p>
				<div style="background: #f88">
				{{ create.errors }}
				</div>
				<input type="submit" value="Create" name="action" />
			</form>
		</div>
{%endblock%}
