<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" />
</head>
<body>
{% if generator_list %}
<div class="bigList">
	<div class="bigListTitle">Generators</div>
    {% for generator in generator_list %}
    	<div class="bigListItem">
    		<div class="bigListInfo">
				<h1><a href="{% url polargraph:show_generator generator.id %}">{{ generator.name }}</a></h1>
				<div style="font-style: italic"> {{generator.description}} </div>
				Last Used: {{generator.last_used}}<br/>
				Last Edited: {{generator.last_updated}}<br/>
    		</div>
			<div class="bigListSublist">
				<div class="bigListSublistTitle">Previous Output</div>
				{% for output in generator.get_recent_output %}
					<div class="outputContainer">
						<img src="/{{output.filename}}" class="smallPic"/><br/>
						{{output.modified}}
					</div>
				{% endfor %}
			</div>	
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>No endpoints are available.</h1>
{% endif %}
</body>
