<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" />
</head>
<body>
{% if generator %}
	<div class="controlPanel">
		<div class="controlColumn">
			<div class="objectType">Generator</div>
			<div class="objectTitle">{{ generator.name }}</div>
			<div class="description"> {{generator.description}} </div>
			<div class="objectInfo"> Last Used: {{generator.last_used}} </div>
			<div class="objectInfo"> Last Changed: {{generator.last_updated}} </div>
			
			<div class="inputForm actionForm formBlock">
			<form action="{% url polargraph:show_generator generator.id %}" method="POST">
				{% csrf_token %}
				<div style="font-weight:bold">Controls</div>
				<h3>Choose DataStore</h3>
				<p> <label for="ds_id">Data Store ID:</label> <input type="text" name="ds_id" id="ds_id" value="{{ds_id}}" /> </p>
				{% if data_store %}Data store "{{data_store.name}}" has {{data_store.get_historic_size}} data.{% else %}None selected.{% endif %}
				<h3>Set parameters</h3>
				<p> <label for="width">Img Width</label> <input type="text" name="width" id="width" value="{{width}}" /> </p>
				<p> <label for="height">Img Height</label> <input type="text" name="height" id="height" value="{{height}}" /> </p>
				<input type="submit" value="Run" name="action"/>
			</form>
			</div>
		</div>
	</div>
	<div class="controlPanel" style="min-width:500px; min-height:500px">
		<h3>Code:</h3>
	</div>
	<div class="outputBlock">
		<div class="mainOutput">
			<h3>Generated image<h3>
			<img class="bigPic" src="/{% if output %}{{output}}{% else %}media/resources/nothing_drawn.svg{% endif %}"/>
		</div>
	</div>
	<br/>
	<div class="bigListSubList">
		<div class="bigListSublistTitle">Previous Output</div>
		{% for output in generator.get_recent_output %}
		<div class="outputContainer">
			<img src="/{{output.filename}}" class="smallPic"/><br />
			{{output.modified}}
		</div>
		{% endfor %}
	</div>
	
{% else %}
    <h1>Generator not found</h1>
{% endif %}
</body>
