{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<!-- Section which explains what Polarbot is and what people can do with it. -->
    <div class="row">

        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <a href="#"><img src="{{MEDIA_URL}}nivo/images/polarbot-pen.jpg" alt="" title="#htmlcaption-1" /></a>
                <a href="#"><img src="{{MEDIA_URL}}nivo/images/polarbot-pattern.jpg" alt="" title="#htmlcaption-2" /></a>
                <a href="#"><img src="{{MEDIA_URL}}nivo/images/polarbot-mfuk.jpg" alt="" title="#htmlcaption-3" /></a>
                <a href="#"><img src="{{MEDIA_URL}}nivo/images/polarbot-drawing.jpg" alt="" title="#htmlcaption-4" /></a>
            </div>
            <div id="htmlcaption-1" class="nivo-html-caption">
                <h3>CursiveData draws patterns from <a href="/polargraph/sources">realtime data</a>. Slowly growing <a href="/polargraph/pipeline">visualisations</a> can be sent to websites or <a href="http://mattvenn.net">drawing robots</a>.</h3> 
            </div>
        </div>

    </div>
	<script type="text/javascript">
	$(window).load(function() {
	    $('#slider').nivoSlider({
	        effect: 'fade', // Specify sets like: 'fold,fade,sliceDown'
	        slices: 15, // For slice animations
	        boxCols: 8, // For box animations
	        boxRows: 4, // For box animations
	        animSpeed: 500, // Slide transition speed
	        pauseTime: 3000, // How long each slide will show
	        startSlide: 0, // Set starting Slide (0 index)
	        directionNav: false, // Next & Prev navigation
	        controlNav: false, // 1,2,3... navigation
	        controlNavThumbs: false, // Use thumbnails for Control Nav
	        pauseOnHover: true, // Stop animation while hovering
	        manualAdvance: false, // Force manual transitions
	        prevText: 'Prev', // Prev directionNav text
	        nextText: 'Next', // Next directionNav text
	        randomStart: false, // Start on a random slide
	        beforeChange: function(){}, // Triggers before a slide transition
	        afterChange: function(){}, // Triggers after a slide transition
	        slideshowEnd: function(){}, // Triggers after all slides have been shown
	        lastSlide: function(){}, // Triggers when last slide is shown
	        afterLoad: function(){} // Triggers when slider has loaded
	    });
	});
	</script>
<!--  <div class="row hero-background">
    <div class="four column">
      <h3>The Polarbot draws abstract patterns from real-world data. It's a drawing robot which scales to any size and let's you experiment with <a href="/polargraph/generator">algorithms</a> and <a href="/polargraph/sources">data visualisations</a>.</h3>
      <p>Currently there are <em>{{ endpoints }}</em> bots living in people's homes, sketching <em>{{ generators }}</em> visualisations.</p>
    </div>
  </div>
-->
<!-- Section for current and latest drawings -->
  <div class="row">
    <h2>Latest Visualisations</h2>
  </div>
  <div class="row">
    <ul class="block-grid three-up">
    {% for pipeline in latest_pipelines %}
      <li>
        <a href="{% url polargraph:show_pipeline pipeline.id %}"><img src="/{{pipeline.full_svg_file}}" /></a>
        <p><a href="{% url polargraph:show_pipeline pipeline.id %}">{{ pipeline.name }}</a></p>
      </li>
    {% endfor %}
    </ul>
</div>

  <div class="row">
        <h2>Latest news</h2>
  </div>
  <div class="row">
 {% if latest_news %}
            {% for story in latest_news %}
<!--                <p class="news">{{ story.date }}</p> -->
                                <h3><a class="news" href="{{ story.url }}">{{ story.title }}</a></h3>
                <p class="news">{{ story.summary|safe }}</p><br>
            {% endfor %}
        {% endif %}
        <!-- <a href="http://www.mattvenn.net/tag/rtdv/">View older stories >>></a> -->

</div>
<!-- Section to explain process of how people can create own drawings highlighting all the ways people can get involved e.g. pattern making, adding a data source, digital drawing making even if they don't own a bot themselves yet.-->
	</div>
{% endblock %}
