<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" />
</head>
<body>
	<div class="col">
		<a href="{% url polargraph:list_pipelines %}"> <h1>Pipelines</h1> </a>
	</div>
	<div class="col">
		<a href="{% url polargraph:list_generators %}"> <h1>Generators</h1> </a>
	</div>
	<div class="col">
		<a href="{% url polargraph:list_endpoints %}"> <h1>Endpoints</h1> </a>
	</div>
	<div class="col">
		<a href="{% url polargraph:list_pipelines %}"> <h1>People</h1> </a>
	</div>

</body>
</html>