<div style="font-family: helvetica">
{% if pipeline %}
	<h1>Pipeline: {{ pipeline.name }}</h1>
	<h3>Generator: {{pipeline.generator.name}}</h3>
	<div style="font-style: italic"> {{pipeline.generator.description}} </div>
	<h3>Image size: {{pipeline.img_width}} by {{pipeline.img_height}}</h3>
	<div>
	<h3>Images</h3>
	<div style="display: inline-block;border: 2pt solid grey;background: #aaaaff">
		Full:<br/>
		<img width="300" height="300" src="/{{pipeline.full_image_file}}"/>
	</div>
	<div style="display: inline-block;border: 2pt solid grey;background: #aaaaff">
		Last Update: ({{pipeline.last_updated}})<br/>
		<img width="300" height="300" src="/{{pipeline.last_image_file}}"/>
	</div>
	</div>
	<div>
	<h3>Controls</h3>
	<form action="{% url polargraph:show_pipeline pipeline.id %}" method="POST">
		{% csrf_token %}
		<input type="submit" value="Reset" name="action"/>
	</form>
	</div>
{% else %}
    <h1>Pipeline not found</h1>
{% endif %}
</div>