<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css" />
</head>
<body>
{% if pipeline_list %}
<div class="bigList">
	<div class="bigListTitle">Pipelines</div>
    {% for pipeline in pipeline_list %}
    	<div class="bigListItem">
    		<div class="bigListInfo">
				<h1><a href="{% url polargraph:show_pipeline pipeline.id %}">{{ pipeline.name }}</a></h1>
				<h3>Using: {{pipeline.generator.name}}</h3>
				<div style="font-style: italic"> {{pipeline.description}} </div>
				Last Update: ({{pipeline.last_updated}})<br/>
    		</div>
    		<div class="bigListPic">
				<img class="medPic" src="/{{pipeline.full_image_file}}"/>
			</div>
			<div class="bigListSublist">
				<div class="bigListSublistTitle">Previous Output</div>
				{% for output in pipeline.get_recent_output %}
					<div class="outputContainer">
						<img src="/{{output.filename}}" class="smallPic"/><br/>
						{{output.modified}}
					</div>
				{% endfor %}
			</div>	
        </div>
    {% endfor %}
</div>
{% else %}
    <h1>No pipelines are available.</h1>
{% endif %}
</body>
