{% extends "base.html" %}
{% block title %}All pipelines{% endblock %}
{% block content %}

{% if pipeline_list %}

    {% for pipeline in pipeline_list %}

  <div class="row">
    <h2><a href="{% url polargraph:show_pipeline pipeline.id %}">{{ pipeline.name }}</a></h2>
        <h4 class="subheader">
        <div class="objectInfo">Last Updated on {{pipeline.last_updated}}</div>
            <div class="description"> {{pipeline.description}} </div>
        </h4>
    </div>

  <div class="row">
    <ul class="block-grid three-up">
				{% for output in pipeline.get_recent_output %}
                <li>
					<div class="outputContainer">
						<img src="/{{output.filename}}" >
						{{output.modified}}
					</div>
                </li>
				{% endfor %}
    </ul>
    </div>
    {% endfor %}
{% else %}
  <div class="row">
    <h2>No pipelines are available.</h2>
    </div>
{% endif %}
    {% if user.is_authenticated %}
        <div class="row"> <h4 class="subheader"> <div class="description"><a href="{% url polargraph:create_pipeline %}">Create a new pipeline</a></div> </h4> </div>
    {% endif %}
{%endblock%}
