<div style="font-family: helvetica; font-size: 20px">
{% if pipeline %}
	<h1>Pipeline: {{ pipeline.name }}</h1>
	<h3>Generator: {{pipeline.generator.name}}</h3>
	<div style="font-style: italic"> {{pipeline.generator.description}} </div>
	<h3>Image size: {{pipeline.img_width}} by {{pipeline.img_height}}</h3>
	<div>
	<h3>Images</h3>
	<div style="display: inline-block;border: 2pt solid grey;background: #aaaaff">
		Full:<br/>
		<img width="300" height="300" src="/{{pipeline.full_image_file}}"/>
	</div>
	<div style="display: inline-block;border: 2pt solid grey;background: #aaaaff">
		Last Update: ({{pipeline.last_updated}})<br/>
		<img width="300" height="300" src="/{{pipeline.last_image_file}}"/>
	</div>
	</div>
	<div>
	<div style="background: #ddd; padding: 10px"/>
	<form action="{% url polargraph:show_pipeline pipeline.id %}" method="POST">
		{% csrf_token %}
		<div style="background: #ccffaa; display: inline-block;padding:10px;margin:10px;text-align:right">
		<h3>Parameters</h3>
		{% for param in params %}
			<div>
				<span>{{param.name}}</span>
				<input type="text" name="param{{param.name}}" id="param{{param.name}}" value="{{param.value}}"/>
				<div style="font-style: italic;font-size: 70%">{{param.description}}</div>
			</div>
		{% endfor %}
		<input type="submit" value="Update Parameters" name="action"/>
		</div>
		<div style="background: #aaffcc; display: inline-block;padding:10px;margin:10px">
		<h3>Controls</h3>
		<input type="submit" value="Reset" name="action"/>
		</div>
	</form>
	</div>
	</div>
	
	<div>
		<h1>Previous Output</h1>
		{% for output in output %}
			<div style="display:inline-block; background: #ccc; padding:10px">
				<img src="/{{output.filename}}" width="150px" height="150px"/><br/>
				{{output.modified}}
			</div>
		{% endfor %}
	</div>	
	
{% else %}
    <h1>Pipeline not found</h1>
{% endif %}
</div>