{% extends "base.html" %}
{% block title %}All sources{% endblock %}
{% block content %}

{% if source_list %}
    {% for source in source_list %}
  <div class="row">
				
    <h2><a href="{% url polargraph:show_source source.id %}">{{ source.id }}</a></h2>
        <h4 class="subheader">
				<div class="description">last updated: {{source.last_updated}} with {{source.last_value}}.</div>
                <div>link: <a href="https://cosm.com/feeds/{{source.feed_id}}">{{source.feed_id}}/{{source.stream_id}}</a></div>
        </h4>
    {% endfor %}
{% else %}
    <div class="row">
    <h1>No sources are available.</h1>
{% endif %}
        <h4 class="subheader"> <div class="description"><a href="{% url polargraph:create_source %}">Create a new source</a></div> </h4>
    </div>
{% endblock %}
