{% extends "base.html" %}
{% block title %}All sources{% endblock %}
{% block content %}

  <div class="row">
  <h2>Realtime data sources</h2>
  <p>provided by <a href="http://xively.com">xively.com</a></p>
  </div>
{% if source_list %}
    {% for source in source_list %}
  <div class="row">
				
    <h2><a href="{% url polargraph:show_source source.id %}">{{ source.name }}</a></h2>
        <h4 class="subheader">
				<div class="description">last updated: {{source.last_updated}} with {{source.last_value}}.</div>
        </h4>
    </div>
    {% endfor %}
{% else %}
    <div class="row">
    <h1>No sources are available.</h1>
    </div>
{% endif %}
    <div class="row">
        <h4 class="subheader"> <div class="description"><a href="{% url polargraph:create_source %}">Create a new source</a></div> </h4>
    </div>
{% endblock %}
