{% extends "base.html" %}
{% block title %}Source {{source.name }}{% endblock %}
{% block content %}
{% if source %}
  <div class="row">
    <h2>{{source.name}}</h2>
  </div>

        <div class="row">
            <h1>Sources</h1>
          <div class="large-12 columns">
				<div class="description">last updated: {{source.last_updated}} with {{source.last_value}}.</div>
				<div class="description">feed id/stream id: <a href="https://cosm.com/feeds/{{source.feed_id}}">{{source.feed_id}}</a>/{{source.stream_id}}</div>
                <div><a href="https://cosm.com/feeds/{{source.feed_id}}">
                <div style="height: 250px">
                <img src="https://api.cosm.com/v2/feeds/{{source.feed_id}}/datastreams/{{source.stream_id}}.png?width=940&height=250&colour=%232ba6cb&duration=1day&show_axis_labels=true&detailed_grid=true&scale=auto&timezone=London"/></a>
                </div>
                <div>used by pipelines:</div>
                <ul>
                    {% for pipeline in source.pipelines.all %}
                    <li><a href="{% url polargraph:show_pipeline pipeline.id %}">pipeline {{pipeline.id}}</a></li>
                    {% endfor %}
                </ul>
			</div>
			</div>
		</div>
		
  {% if user.is_authenticated %}
  <div class="row">
    <h2>Controls</h2>
  </div>

        <div class="row">
          <div class="large-12 columns">
				<form action="{% url polargraph:show_source source.id %}" method="POST">
					{% csrf_token %}
						<div class="cosmAction">
							{% if source.is_running %}
							<button class="button" type="submit" value="Disable"
								name="action">Disable</button>
							{% else %}
							<button class="button" type="submit" value="Enable"
								name="action">Enable</button>
							{% endif %}
							<button class="button" type="submit" value="Delete"
								name="action">Delete</button>
				</form>
            </div>
        </div>
	
    {% endif %}

</div>
	
{% else %}
    <h1>Source not found</h1>
{% endif %}
{% endblock %}
