<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="{{ MEDIA_URL }}/animation/animation.js"></script>
    <script>
        function start()
        {
            SVGAnimation.currentSpeed = 1000;
            SVGAnimation.setup();
            SVGAnimation.playFromStart();
        }
    </script>
    <!-- hide control elements -->
    <style>
    .hide{display:none}
    </style>
</head>
<body onload="start()">
    <div style="background:#fff">
        <embed style="border: 1px solid; #555 " height="600px" width="600px" src="/{{pipeline.full_svg_file}}" type="image/svg+xml" id="embed" />
    </div>
    <div style="width:600px">
        {% include "animation_controls.html" %}
        <a href="{% url cursivedata:show_pipeline pipeline.id%}">Data</a>
    </div>
</body>
</html>
