  <html>
<head>
    <script src="{{ MEDIA_URL }}/animation/animation.js"></script>
    <script>
        function start()
        {
            SVGAnimation.currentSpeed = 1000;
            SVGAnimation.setup();
            SVGAnimation.playFromStart();
        }
    </script>
    <!-- hide control elements -->
    <style>
    .hide{display:none}
    </style>
</head>
<body onload="start()">
    <div style="background:#fff">
        <a href="/{{pipeline.full_svg_file}}"><embed style="border: 1px solid; #555 " height="600px" width="600px" src="/{{pipeline.full_svg_file}}" type="image/svg+xml" id="embed" /></a>
    </div>
    <!-- controls -->
    <div style="width:600px">
		<input type="submit" id="play-animation" onclick="SVGAnimation.play()" value="Play" style="width:50px;">
		<input id="frame" type="range" min="0" max="0" step="1" onchange="SVGAnimation.setFrame()" oninput="SVGAnimation.setFrame()" style="width:420px" >
		<input id="rangeVal" type="text" style="width:100px;display:inline;"/>
		<!-- <input type="submit" id="play-animation" onclick="SVGAnimation.play()" value="Play from current position"> -->
		<!-- <input type="submit" id="stop-animation" onclick="SVGAnimation.stop()" value="Stop"> -->
		<input id="speed" type="range" min="0" max="0" step="1" onchange="SVGAnimation.changeSpeed()" title="Choose speed (up to a factor of ten)" class="hide"> 
    </div>
    <a href="{% url cursivedata:show_pipeline pipeline.id%}">Data</a>
</body>
</html>
