{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

  <div class="row">

    <h2>License</h2>
        <p>The site's software, the robot's software and hardware are available under an open source license.</p>

    <h2>Code & Software</h2>
        <p>
        <ul>
            <li><a href="https://github.com/mattvenn/cursivedata">Site software</a></li>
            <li><a href="https://github.com/mattvenn/arduinosketchbook/tree/master/energyPlotter/leonardoTests">Robot software</a></li>
            <li><a href="https://github.com/mattvenn/eagle-circuit-designs/blob/master/energy%20plotter/polarplotter%20allegro%20v4.sch">Robot hardware</a></li>
       </ul> 
        </p>

    <h2>Support</h2>
    <p>
        There is currently no support given for use of the site or for building or using the robot. Although we do have a <a href="https://groups.google.com/forum/?fromgroups=#!forum/polargraph-energy-robot">mailing list here.</a>.
    </p>


  </div>

{% endblock %}
