{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

  <div class="row">

    <h2>People</h2>
    <p>Many people have helped us to get here! In no particular order:</p>
    <ul>
    <li><a href="http://stuartchilds.com/">Stuart Childs</a> - help with robot hardware</li>
    <li><a href="http://www.mo-seph.com/">Dave Murray-Rust</a> - software</li>
    <li><a href="http://www.mattvenn.net">Matt Venn</a> - software/hardware</li>
    <li><a href="https://twitter.com/gnublade">Andy Kilner</a> - software</li>
    <li><a href="http://craftythingsmade.wordpress.com/">Fee Schmidt-Soltau</a> - user experience, design</li>
    <li><a href="http://www.carbonvisuals.com/about">Adam Nieman</a> - visualisations</li>
    <li>part funded by <a href="http://bristolgreencapital.org/">Bristol Green Capital</a></li>
    </ul>
    

  </div>

{% endblock %}
