{% extends "base.html" %}
{% block title %}All pipelines{% endblock %}
{% block content %}

  <div class="row">
  <h2>Recently updated visualisations</h2>
  </div>

{% if pipeline_list %}

    {% for pipeline in pipeline_list %}

  <div class="row">
    <h2><a href="{% url cursivedata:show_pipeline pipeline.id %}">{{ pipeline.name }}</a></h2>
            {% if pipeline.is_live %}
                <div class="online"><img src="{{MEDIA_URL}}online.jpg"></div>
            {% else %}
                <div class="offline"><img src="{{MEDIA_URL}}offline.jpg"></div>
            {% endif %}
        <h4 class="subheader">
            <div class="objectInfo">Last Updated on {{pipeline.last_updated}}</div>
            <div class="description"> {{pipeline.description}} </div>
        </h4>
    </div>

  <div class="row">
    <ul class="block-grid three-up">

              <!-- current -->
              <li>
                <div class="outputContainer"></div>
                <a href="{% url cursivedata:show_pipeline pipeline.id %}"><img class="imgforIE" style="height:auto;" src="/{{pipeline.full_svg_file}}" /></a>
                <p><a href="{% url cursivedata:show_pipeline pipeline.id %}">{{ pipeline.last_updated }}</a></p>
              </li>
                <!-- 2 most recent -->
				{% for output in pipeline.get_recent_output|slice:":2" %}
                <li>
                <div class="outputContainer"></div>
                <a href="{% url cursivedata:pipeline_previous pipeline.id output.id %}"><img class="imgforIE" style="height:auto;" src="/{{output.filename}}" >
                {{output.modified}}</a>
                </li>

				{% endfor %}
    </ul>
    </div>
    {% endfor %}
{% else %}
  <div class="row">
    <h2>No pipelines are available.</h2>
    </div>
{% endif %}
    {% if user.is_authenticated %}
        <div class="row"> <h4 class="subheader"> <div class="description"><a href="{% url cursivedata:create_pipeline %}">Create a new pipeline</a></div> </h4> </div>
    {% endif %}
{%endblock%}
