{% extends "base.html" %}
{% block title %}Pipeline{% endblock %}
{% block content %}

    <div class="row">
        <h2>{{pipeline.name}}</h2>
                <!-- svg -->
                <div style="background:#fff">
                    <embed style="border: 1px solid; #555 " height="600px" width="600px" src="/{{output.filename}}" type="image/svg+xml" id="embed" />
                </div>


                <!-- controls -->
                <div style="width:600px">
                    {% include "animation_controls.html" %}
                </div>

    </div>
    <div class="row">
                    <!-- links -->
                    <ul>
                    <li>
                    {{output.modified}}
                    </li>
                    <li> <a href="{% url cursivedata:show_pipeline pipeline.id%}">Pipeline</a>
                    </li>
                    </ul>
	</div>


{% endblock %}
